@model VisitorManagementSystems.Models.User

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                &nbsp;&nbsp;&nbsp;Map User With Gate
            </h4>
        </div>
        <form method="post"
              asp-action="SaveUserGate" asp-controller="Administrator"
              data-ajax="true" data-ajax-method="POST"
              data-ajax-begin="OnBegin" data-ajax-failure="OnFailure"
              data-ajax-success="OnSuccess" data-ajax-complete="OnComplete"
              class="needs-validation" novalidate id="addroleForm">
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-4">
                        Gate
                    </div>
                    <div class="col-8">
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.UserGateId)
                        @Html.DropDownListFor(model => model.GateId,ViewData["Gates"] as SelectList,  new { @class = "form-control" })
                    </div>
                </div>
                <div>
                    <label id="errormessage" class="text-danger"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-save="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
